<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %> 주차장 혼잡도 여부</h1>
        <div>
            <a>최근 새로고침 시간:<%= data.lastUpdated %></a>
            <form action="/parking/<%= status %>receiver" method="POST">
                <input type="hidden" name="image_url" value="ejs" >
                <button type="submit">새로고침</button>
            </form>
        </div>
        <% if(!data.imageUrl) { %>
            <img src='/images/ai_default.jpg'>
        <% } else{ %>
            <img src='<%= data.imageUrl %>'>
        <% } %>
        <button><a href="/">홈으로 돌아가기</a></button>
    </body>
</html>